<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Movie Vault</title>
</head>
<body>
    <header>
        <div>
            <h1>Movie Vault</h1>
            <p>Seu acervo pessoal de filmes!</p>
        </div>
        <nav>
            <a href="{{ url_for('adicionar_filme') }}" class="add-filme">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                </svg>
                Adicionar Filme
            </a>
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <section id="movie-list" class="movie-container">
            {% for filme in filmes %}
            <article class="movie-card">
                <img src="{{ url_for('static', filename=filme.poster) }}" alt="Pôster do filme {{ filme.nome }}">
                <div class="movie-info">
                    <h2>{{ filme.nome }} ({{ filme.ano }})</h2>
                    <p class="movie-genre">{{ filme.genero }}</p>
                    <p class="movie-synopsis">{{ filme.sinopse }}</p>
                </div>
            </article>
            {% endfor %}
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Movie Vault. Todos os direitos reservados.</p>
    </footer>
</body>
</html>